$font-stack: "opensans-condensed", helvetica, arial, sans-serif;
$font-stack-hero: "Questrial", helvetica, arial, sans-serif;
@font-face {
  font-family: "opensans-condensed";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-CondLight-webfont.eot");
  src: url("../fonts/OpenSans-CondLight-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-CondLight-webfont.otf") format("opentype"),
    url("../fonts/OpenSans-CondLight-webfont.woff") format("woff"),
    url("../fonts/OpenSans-CondLight-webfont.ttf") format("truetype"),
    url("../fonts/OpenSans-CondLight-webfont.svg#PlacardMT") format("svg");
}
@font-face {
  font-family: "opensans-condensed";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/OpenSans-CondLightItalic-webfont.eot");
  src: url("../fonts/OpenSans-CondLightItalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-CondLightItalic-webfont.otf") format("opentype"),
    url("../fonts/OpenSans-CondLightItalic-webfont.woff") format("woff"),
    url("../fonts/OpenSans-CondLightItalic-webfont.ttf") format("truetype"),
    url("../fonts/OpenSans-CondLightItalic-webfont.svg#PlacardMT") format("svg");
}
