@keyframes popupenter {
  from {
    opacity: 0;
    transform: perspective(400px)
      translate3d(0,0,0)
      scale3d(1,1,1)
      rotate3d(3,0,0,3deg);
  }
  to {
    opacity: 1;
    transform: perspective(400px)
      translate3d(0,0,0)
      scale3d(1,1,1)
      rotate3d(3,0,0,0deg);
  }
}
@keyframes slideenter {
  from {
    opacity: 0;
    top: 20px;
    transform: perspective(400px)
      translate3d(0,0,0)
      scale3d(1,1,1)
      rotate3d(3,0,0,3deg);
  }
  to {
    opacity: 1;
    top: 0;
    transform: perspective(400px)
      translate3d(0,0,0)
      scale3d(1,1,1)
      rotate3d(3,0,0,0deg);
  }
}
@keyframes slideout {
  from {
    opacity:1;
    top:0;
  }
  to {
    opacity:0;
    top:20px;
  }
}
@keyframes menuenter {
  from {
    left: 20px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
%transition {
  animation-timing-function: easein;
  transition-duration: 300ms;
  transition-property: all;
}
