@import url("https://fonts.googleapis.com/css?family=Questrial");
@import "compass/reset";
@import "compass/css3";
@import "partials/reset";
@import "partials/extend";
@import "partials/keyframe";
@import "partials/fontface";

// $font-stack: "opensans-condensed", helvetica, arial, sans-serif;
// $font-stack-hero: "Questrial", helvetica, arial, sans-serif;

%controllerbottom {
  background: url("../images/svg/slider-control-bottom.svg") no-repeat scroll 100% 100% transparent;
  bottom: 0;
  height: 29px;
  left: 40%;
  min-width: 90px;
  max-width: 40%;
  width: auto;
  padding: 9px 0 0;
  right: initial;
  top: initial;
  span.scroll {
    font-family: $font-stack;
    margin-left: 5px;
    text-transform: lowercase;
  }
}

$logoSize: 190px;

$font-size-body: 0.9em;
$font-size-small: 0.85em;
$font-size-smallest: 0.8125em;

$span-spacing: 20px;

[data-hidden] {
  display: none !important;
}
::selection {
  background: #333;
  color: #efefef;
}
::-webkit-scrollbar {
  display: none;
}
body,
html {
  min-height: 100%;
}
body[data-static] {
  overflow: hidden;
}
body,
textarea,
input {
  font: 0.9em/1.8em $font-stack;
  letter-spacing: .9px;
  @extend %fontsmooth;
}
h1 {
  @extend .hero;
}
h1,
h2,
.hero,
label {
  color: #444;
}
h2 {
  font-size: 1.03125em;
  letter-spacing: 3px;
  line-height: 1.3em;
  @extend .hero;
}
svg,
img {
  user-drag: none;
  user-select: none;
}
ol, ul {
  list-style: none;
}
.hero {
  font: 19px/1.7em $font-stack-hero;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.smler {
  font-size: $font-size-small;
}
.fullobj {
  height: auto;
  min-height: 100%;
  min-width: 100%;
  width: auto;
}
section,
.slides > div,
video {
  @extend %fullscreen;
}
aside {
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  z-index: 11;
  img,
  svg {
    position: absolute;
  }
  img {
    height: 53%;
    left: 5.3%;
    min-height: 429px;
    top: 21%;
    z-index: 2;
    @include rotate(-7deg);
  }
  svg {
    height: 100%;
    left: 0;
    max-width: 1100px;
    min-height: 600px;
    min-width: 1000px;
    top: 0;
    width: 100%;
  }
}
nav {
  left: 0;
  min-width: 150px;
  position: fixed;
  top: 50%;
  width: 20%;
  z-index: 12;
  li {
    height: 30px;
    padding-left: 30px;
    position: relative;
    user-select: none;
    &::after,
    &::before {
      position: absolute;
    }
    &::before {
      height: 20px;
      left: 9px;
      opacity: 0;
      width: 20px;
      z-index: 12;
      @extend %transition;
    }
    &::after {
      animation-delay: 0s;
      content: url("../images/activenav.jpg");
      display: block;
      left: -70px;
      top: -29px;
      z-index: 11;
      @include rotate(1deg);
      @extend %transition;
    }
    a {
      animation: slideout 300ms ease-in forwards;
      opacity: 1;
      position: absolute;
      top: 20px;
    }
    &.active a {
      animation: slideenter 300ms ease-in forwards;
    }
    &.active::after {
      animation-delay: 2s;
      @include rotate(54deg);
    }
  }
  &:hover {
    li a {
      animation: slideenter 300ms ease-in forwards;
      opacity: 0;
      top: 20px;
    }
    li:nth-child(2) a {
      animation-delay: .05s;
    }
    li:nth-child(3) a {
      animation-delay: .1s;
    }
    li:nth-child(4) a {
      animation-delay: .15s;
    }
    li.active::after {
      left: -70px;
    }
  }
  &.hamburger {
    li.active::after {
      left: -47px;
    }
    li.active::before {
      left: 14px;
      opacity: 1;
    }
  }
  span {
    letter-spacing: 1px;
    margin-right: $span-spacing;
    @extend .hero;
  }
}
.wrapper {
  max-width: 370px;
  width: 100%;
}
#notice p,
.wrapper {
  left: 23vw;
  position: absolute;
  top: 50%;
}
.preload {
  height: 0;
  overflow: hidden;
  width: 0;
}
.controller {
  font-family: $font-stack-hero;
  padding-left: 8px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 50%;
  z-index: 4;
  [data-control] {
    cursor: pointer;
    &:hover {
      margin-bottom: 4px;
    }
  }
  span {
    font-size: $font-size-body;
    @extend %transition;
  }
  span.close {
    margin-left: 15px !important;
  }
  span.next:hover,
  span.prev:hover,
  span.close:hover {
    animation-fill-mode: initial !important;
    bottom: 3px !important;
    opacity: 1 !important;
    top: -3px !important;
  }
  ul {
    padding: 20px 7px;
  }
  li {
    background-size: 100%;
    height: 22px;
    margin: 5px;
    position: relative;
    width: 15px;
    a {
      background: url("../images/remote.png");
      display: block;
      position: absolute;
      @extend %fullscreen;
    }
  }
  li.active {
    height: 28px;
    margin: 5px 7px 5px 0;
    width: 23px;
    a {
      background: url("../images/activeremote.png");
    }
  }
  > * {
    user-select: none;
  }
}
.expand {
  left: 105%;
  overflow: auto;
  position: absolute !important;
  top: 40%;
  width: 60% !important;
  * {
    float: left;
    @extend %transition;
  }
  svg {
    enable-background: new 0 0 40 40;
    height: 40px;
    > * {
      fill: none;
      stroke: #484848;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.5;
    }
    circle {
      @extend %transition;
    }
  }
  span {
    margin: 10px 0 0;
    opacity: 0;
  }
  a {
    &:hover {
      svg circle {
        r: 13.5;
      }
      span {
        margin-left: 10px;
        opacity: 1;
        width: auto;
      }
    }
    &:active:hover,
    &:focus:hover {
      svg circle {
        r: 12;
      }
    }
  }
}
.slider {
  .slide,
  li {
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100vw;
  }
  .slides {
    > [data-show] {
      animation: slideenter 400ms ease-in;
      display: block;
      overflow: hidden;
      z-index: 1;
    }
    [data="scroll"],
    div.standby[data="scroll"] {
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
    > div.standby {
      display: block;
      overflow: hidden;
      z-index: 0;
    }
  }
  &.noslide {
    height: auto;
    min-height: 100vh;
    li,
    .slides {
      position: initial;
      > div {
        display: block;
        position: relative;
      }
    }
  }
  &.active {
    &.extended {
      > .controller { display: none; }
    }
    .controller li a {
      animation: menuenter 300ms ease-in forwards;
      animation-delay: .3s;
      left: 20px;
      opacity: 0;
    }
    .controller li:nth-child(2) a {
      animation-delay: .4s;
    }
    .controller li:nth-child(3) a {
      animation-delay: .5s;
    }
    .controller li:nth-child(4) a {
      animation-delay: .6s;
    }
  }
}
content {
  .thumb {
    height: 160px;
    margin: 0 auto 25px;
    overflow: hidden;
    position: relative;
    width: 180px;
    svg {
      height: 160px;
      width: 145px;
      z-index: 4;
    }
    span {
      color: white;
      display: block;
      font-size: $font-size-body;
      margin: 58% 14px;
      opacity: 0;
      position: relative;
      text-align: right;
      z-index: 5;
      @extend %transition;
    }
    svg,
    img {
      left: 0;
      position: absolute;
      top: 0;
    }
    img {
      @extend .fullobj;
    }
    &:hover span {
      margin: 51% 14px;
      opacity: 1;
    }
  }
}
#spinner,
aside,
#popup,
section,
#notice {
  height: 100vh;
  left: 9.5vw;
  top: 0;
  width: 90.5vw;
}
#print {
  &.noslide {
    height: auto;
    min-height: 55px;
    font-size: $font-size-small;
    ul {
      li {
        display: inline;
        margin-right: $span-spacing;
      }
    }
  }
}
#posts {
  li {
    display: block;
    float: left;
    height: 160px;
    margin: 0 20px -50px 0;
    overflow: visible;
    position: relative;
    position: initial;
    text-align: center;
    top: 45%;
    width: 100px;
    &:nth-child(6n) {
      margin-bottom: 100vh;
    }
    a {
      display: block;
      font-size: $font-size-body;
    }
    h2 {
      height: 23px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      span {
        font-family: $font-stack;
        letter-spacing: 1.6px;
        margin-left: 10px;
        text-transform: lowercase;
      }
    }
    .excerpt {
      display: none;
    }
    @extend %transition;
  }
  .slides {
    max-height: 100vh;
    &[data-expanded] {
      max-height: 999999px;
      .slide li:nth-child(6n) {
        margin-bottom: 80px;
      }
    }
    @extend %transition;
  }
  > .slides {
    > div {
      padding-left: 25%;
      width: 80%;
    }
  }
  .expand {
    top: 100px;
  }
  .thumb {
    margin-bottom: 0;
  }
  .slides > div,
  .slider .slides,
  .slider .slides > div {
    height: auto;
  }
  > * {
    display: block;
    width: 100%;
  }
  .wrapper {
    left: 0;
    padding-bottom: 45vh;
    position: relative;
    top: 45vh;
    ul {
      overflow: hidden;
      padding-bottom: 60px;
    }
  }
}
#logo {
  svg {
    height: auto;
    margin-bottom: 20px;
    width: $logoSize;
  }
  .wrapper {
    left: 37%;
    text-align: center;
    top: 35%;
    width: $logoSize;
    > * {
      position: relative;
      top: 20px;
    }
  }
  &.active {
    .wrapper > svg,
    span {
      animation: slideenter 1000ms ease-out forwards;
    }
    span {
      animation-delay: 500ms;
    }
  }
}
#popup {
  display: none;
  position: fixed;
  z-index: 10;
  img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
    &.portrait {
      height: auto;
      object-fit: initial;
      width: 100%;
    }
  }
  .content,
  .content ul,
  > * {
    @extend %realestate;
  }
  li.article {
    background: rgba(255, 255, 255, .95);
    .wrapper {
      animation: popupenter 400ms ease-in;
      margin-bottom: 20vh;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
      line-height: 1.15em;
      margin-bottom: 13px;
    }
    p {
      margin-bottom: 30px;
    }
    img,
    p img {
      width: 130%;
    }
    a {
      text-decoration: underline;
    }
  }
  li,
  .slide {
    width: 100%;
    display: none;
    &[data-show],
    &[data-transitioning] {
      display: block;
    }
    &[data-show] {
      z-index: 3;
      img {
        animation: slideenter 400ms ease-in;
      }
    }
    &.portrait {
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      img {
        height: auto;
        object-fit: initial;
        width: 100%;
      }
    }
    &[data-transitioning] {
      z-index: 2;
    }
  }
  #spinner {
    align-items: center;
    background: rgba(255, 255, 255, .9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    svg {
      height: 50px;
      width: 50px;
    }
  }
  [data-type="gallery"] li img[data-loading] {
    display: none;
  }
  video {
    display: none;
  }
  .controller {
    @extend %controllerbottom;
    padding: 4px 20px 0;
    > * {
      display: block;
      float: left;
      line-height: 1;
      margin-right: 3px;
      padding: 7px 0 10px;
      &[data-control]:hover {
        line-height: .7;
      }
    }
    span {
      margin: 0 12px;
    }
    > *:last-child {
      margin-right: $span-spacing;
    }
    i,
    c,
    t,
    divider {
      line-height: .8;
    }
    scroll,
    mute,
    fs,
    t {
      font-family: $font-stack;
      line-height: .6;
      margin-left: 5px;
      text-transform: lowercase;
    }
    [data-control="mute"],
    [data-control="fullscreen"] {
      display: none;
    }
    &[data-video] {
      padding-right: 60px;
      scroll {
        display: none;
      }
      fs,
      mute {
        display: block;
      }
    }
    &[data-single] {
      i,
      c,
      t,
      divider,
      [data-control="prev"],
      [data-control="next"] {
        display: none;
      }
    }
  }
  &[data-active],
  &[data-active="true"] {
    display: block;
  }
  &[data-fecthing] {
    #spinner {
      display: block;
      opacity: 1;
    }
  }
}
#about {
  .thumb {
    float: left;
    height: 180px;
    margin-left: -30px;
    position: absolute;
    top: 0;
    width: 180px;
    z-index: 1;
    img,
    svg {
      left: 0;
      top: 0;
      @extend %fullscreen;
    }
    span {
      opacity: 1;
    }
  }
  .thumb:nth-child(2) {
    left: 165px;
    z-index: 2;
  }
  .wrapper > p span {
    margin-right: $span-spacing;
  }
  .slides > div:nth-child(2) {
    .wrapper {
      margin-top: -90px;
      h1 {
        margin-top: 200px;
      }
    }
  }
}
#projects {
  height: auto;
  margin-left: 1px;
  .slides {
    .slider {
      img { @extend %fullscreen; }
    }
    %fullscreen {
      position: relative;
    }
  }
}
#contact {
  .error,
  .thanks {
    margin-top: 15px;
    &[data-show] {
      display: block;
    }
  }
  [data-invalid] {
    box-shadow: inset 0 -2px 0 -1px #999;
  }
  [data-sent] {
    .copy {
      display: none;
    }
    .thanks {
      display: initial;
    }
  }
  .expand {
    top: 20%;
  }
  label {
    float: left;
    font-family: $font-stack-hero;
    text-transform: uppercase;
    width: 110px;
  }
  span {
    margin-right: $span-spacing;
  }
  input,
  textarea {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    width: 255px;
  }
  textarea {
    height: 130px;
    resize: none;
  }
  .wrapper div {
    margin-bottom: 5px;
  }
}
section {
  overflow: hidden;
  position: relative;
  .navigate {
    bottom: 20px !important;
    top: initial;
  }
}
.plyr {
  .plyr__controls {
    display: none;
  }
  button[data-plyr="play"] {
    display: none;
  }
  .plyr__video-embed {
    height: 100vh;
    padding-bottom: 0;
    iframe {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}
#notice {
  display: none;
  position: fixed;
  top: 0;
}
@media (max-width: 768px) {
  .wrapper,
  #notice p {
    left: 32%;
    width: 50%;
  }
  main #posts .post {
    width: 68px;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  nav {
    display: none;
  }
  .wrapper {
    max-width: 300px;
    top: 40%;
  }
  main #logo .wrapper {
    top: 20%;
  }
  #spinner,
  aside,
  #popup,
  section,
  #notice {
    height: 100vh;
    left: -5.5vw;
    top: 0;
    width: 105.5vw;
  }
  #notice p {
    left: 45%;
    width: 40%;
  }
  .slides > div,
  .slider .slides > div,
  section {
    height: 125vh;
  }
}
@media (orientation: landscape) {
  #notice {
    display: none;
  }
}
@media (orientation: portrait) {
  nav {
    display: none;
  }
  #spinner,
  aside,
  #popup,
  section,
  #notice {
    width: 114.5vw;
    height: 100vh;
    left: -14.5vw;
    top: 0;
  }
  .wrapper,
  #notice p {
    width: 40%;
    left: 45%;
  }
  body,
  html {
    overflow: hidden;
  }
  main section {
    opacity: .05;
  }
}
